<header class="ba-header-wrap">
	<div class="ba-header-header">
		<div class="row expanded align-middle ">
			<div class="column small-12 medium-8 flex-container align-middle">
				<a class="ba-logo" href="/">
					<img src="{{root}}assets/img/logo.png" alt="Logo">

					<span class="ba-logo__text hide-for-medium">Видавництво Львівської політехніки</span>
				</a>

				<ul class="menu ba-main-menu show-for-medium">
					<li><a href="catalog.html">Катлог</a></li>
					<li><a href="news.html">ПодII/ЦIкаве</a></li>
					<li><a href="contacts.html">Контакти</a></li>
				</ul>
			</div>
			<!-- /.column -->
			<div class="column small-12 medium-4 text-center medium-text-right">
				<button class="menu-icon dark hide-for-medium" type="button" data-open="offCanvas" aria-label="Show menu">
				</button>

				<a href="#">
					<svg width="29" height="30">
						<use xlink:href="#icon-search"></use>
					</svg>
					<span class="show-for-medium">Пошук</span>
				</a>
				<a href="#">
					<svg width="34" height="30">
						<use xlink:href="#icon-cart"></use>
					</svg>
					<span class="show-for-medium">Кошик</span>
				</a>
				<a href="#">
					<svg width="30" height="30">
						<use xlink:href="#icon-user"></use>
					</svg>
					<span class="show-for-medium">Кабінет</span>
				</a>
			</div>
			<!-- /.column -->
		</div>
		<!-- /.row -->
	</div>
</header>