<section class="ba-section-catalog">

	<div class="row align-center">
		<div class="column small-12 medium-10">

			<h2>Каталог видань</h2>

			<div class="ba-catalog-list-wrap row">
				<div class="column small-12 medium-4">

					<h3>Книги</h3>

					<ul class="ba-list">
						<a href="#">
							<li>Монографії</li>
						</a>
						<a href="#">
							<li>Навчально-методичні видання</li>
						</a>
						<a href="#">
							<li>Навчальні посібники</li>
						</a>
						<a href="#">
							<li>Підручники</li>
						</a>
						<a href="#">
							<li>Тези доповідей</li>
						</a>
					</ul>

					<h3>Журнали</h3>

					<ul class="ba-list">
						<a href="#">
							<li>Вісник Національного університету “Львівська політехніка”</li>
						</a>
						<a href="#">
							<li>Міжвідомчі науково-технічні збірники
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
					</ul>

				</div>
				<!-- /.column -->

				<div class="column small-12 medium-8">

					<h3>За рубриками</h3>

					<ul class="ba-list ba-list--2col">
						<a href="#">
							<li>Вісник Національного університету “Львівська політехніка”</li>
						</a>
						<a href="#">
							<li>Міжвідомчі науково-технічні збірники
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
						<a href="#">
							<li>Наукові журнали
							</li>
						</a>
					</ul>

					<a class="ba-catalog-view-all" href="catalog.html">дивитись усі >></a>

				</div>
				<!-- /.column -->
			</div>
			<!-- /.ba-catalog-list-wrap -->
		</div>
		<!-- /.column -->
	</div>
	<!-- /.row -->
</section>
<!-- /.ba-section-catalog -->